In [6]:
%env CUDA_VISIBLE_DEVICES=2
%env TOKENIZERS_PARALLELISM=false

env: CUDA_VISIBLE_DEVICES=2
env: TOKENIZERS_PARALLELISM=false

In [34]:
from datasets import load_dataset
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np
import json

# HuggingFace IWSLT Data

In [204]:
def build_dictionary_from_xml(xml_filepath_list, lang):
    """
    Build a dictionary for combined xml files of a language
    """
    files_list = []
    for fp in xml_filepath_list:
        with open(fp, 'r', encoding="utf-8") as f: # , 
            data = f.read()
        bs_data = BeautifulSoup(data, "xml")
        docs = bs_data.find_all('doc')
        files_list.append(docs)

    docs_dict = {}
    for docs in files_list:
        for doc in docs:
        
            #docid = int(doc['docid'])
            talkid = int(doc.find('talkid').get_text())
            seg_elements = doc.find_all('seg')
            segs = [seg.get_text(strip=True) for seg in seg_elements]
            langs_to_segs = {} 
            langs_to_segs[lang] = segs
            docs_dict[talkid] = langs_to_segs
    
    return docs_dict

In [205]:
def get_shared_talkids(lang_dicts):
    shared_keys = set(lang_dicts[0].keys())
    for i in lang_dicts[1:]:
        shared_keys.intersection_update(i.keys())
    return shared_keys

In [206]:
def combine_langs_into_one_dict(lang_dicts, shared_talk_ids):
    
    _multilingual_talks_dict = {}
    doc_dict_list = []

    for talk_id in shared_talk_ids:
        talk_dict = {}
        #talk_dict[talk_id] = {}
    
        for lang_dict in lang_dicts:
            talk_dict.update(lang_dict[talk_id])
        
        doc_dict = {}
        doc_dict["talk_id"] = talk_id
        doc_dict["doc"] = talk_dict
        
        _multilingual_talks_dict.update(doc_dict)
        doc_dict_list.append(doc_dict)
    
    return doc_dict_list

In [207]:
def generate_parallel_json(parallel_lang_list, data_dir):

    for parallel in parallel_lang_list:
        parallel_lang_dicts = []
        tgt_lang = parallel[1]
        
        for lang in parallel:
            xml_filepath_list = [
                data_dir+f"{tgt_lang}-en/IWSLT17.TED.dev2010.{tgt_lang}-en.{lang}.xml",
                data_dir+f"{tgt_lang}-en/IWSLT17.TED.tst2010.{tgt_lang}-en.{lang}.xml",
                data_dir+f"{tgt_lang}-en/IWSLT17.TED.tst2011.{tgt_lang}-en.{lang}.xml",
                data_dir+f"{tgt_lang}-en/IWSLT17.TED.tst2012.{tgt_lang}-en.{lang}.xml",
                data_dir+f"{tgt_lang}-en/IWSLT17.TED.tst2013.{tgt_lang}-en.{lang}.xml",
                data_dir+f"{tgt_lang}-en/IWSLT17.TED.tst2014.{tgt_lang}-en.{lang}.xml",
                data_dir+f"{tgt_lang}-en/IWSLT17.TED.tst2015.{tgt_lang}-en.{lang}.xml",
                            ]
            docs_dict = build_dictionary_from_xml(xml_filepath_list, lang)
            parallel_lang_dicts.append(docs_dict)
        shared_talk_ids = get_shared_talkids(lang_dicts=parallel_lang_dicts)
        parallel_talks_dict = combine_langs_into_one_dict(lang_dicts = parallel_lang_dicts, shared_talk_ids=shared_talk_ids)    
        
        with open(data_dir+f"/ted_{parallel[0]}-{parallel[1]}", "w", encoding="utf-8") as outfile:
            json.dump(parallel_talks_dict, outfile, indent=4, ensure_ascii=False)

In [208]:
parallel_lang_list = [["en", "ja"],["en", "ar"], ["en",  "fr"], ["en", "de"], ["en", "ko"], ["en", "zh"]]

data_dir = "/home/sumire/thesis/LLM_Contextual_Prompt_MT/data/iwslt_hf/"
generate_parallel_json(parallel_lang_list, data_dir )

In [209]:
df_ja = pd.read_json(f"/home/sumire/thesis/LLM_Contextual_Prompt_MT/data/iwslt_hf/ted_en-ja")
df_zh = pd.read_json(f"/home/sumire/thesis/LLM_Contextual_Prompt_MT/data/iwslt_hf/ted_en-zh")
df_ko = pd.read_json(f"/home/sumire/thesis/LLM_Contextual_Prompt_MT/data/iwslt_hf/ted_en-ko")
df_ar = pd.read_json(f"/home/sumire/thesis/LLM_Contextual_Prompt_MT/data/iwslt_hf/ted_en-ar")
df_de = pd.read_json(f"/home/sumire/thesis/LLM_Contextual_Prompt_MT/data/iwslt_hf/ted_en-de")
df_fr = pd.read_json(f"/home/sumire/thesis/LLM_Contextual_Prompt_MT/data/iwslt_hf/ted_en-fr")


df_ko["talk_id"][df_ko["talk_id"].compare(df_ar["talk_id"], align_axis=1, keep_equal=True, keep_shape=True)["self"].isnull()]

Series([], Name: talk_id, dtype: int64)

In [210]:
df_de

    talk_id                                                doc
0      1539  {'en': ['So I arrived by truck with about 50 r...
1      1548  {'en': ['One of my favorite words in the whole...
2      1553  {'en': ['There are a lot of ways the people ar...
3       531  {'en': ['Last year at TED I gave an introducti...
4       535  {'en': ['Last year I showed these two slides s...
..      ...                                                ...
88     2024  {'en': ['On November 5th, 1990, a man named El...
89     1518  {'en': ['Hi. This is my mobile phone.', 'A mob...
90     1520  {'en': ['Doc Edgerton inspired us with awe and...
91     2045  {'en': ['Right now you have a movie playing in...
92     1534  {'en': ['So, well, I do applied math, and this...

[93 rows x 2 columns]

In [211]:
df_fr

    talk_id                                                doc
0      1541  {'en': ['I'm 150 feet down an illegal mine sha...
1      1548  {'en': ['One of my favorite words in the whole...
2      1553  {'en': ['There are a lot of ways the people ar...
3       531  {'en': ['Last year at TED I gave an introducti...
4       535  {'en': ['Last year I showed these two slides s...
..      ...                                                ...
92     1518  {'en': ['Hi. This is my mobile phone.', 'A mob...
93     1520  {'en': ['Doc Edgerton inspired us with awe and...
94     1532  {'en': ['Before March, 2011, I was a photograp...
95     2045  {'en': ['Right now  you have a movie playing i...
96     1534  {'en': ['So, well, I do applied math,  and thi...

[97 rows x 2 columns]

In [212]:
# Drop instances of ja/fr/ko/ar/zh not existing in de
lang_df_list = [df_ja, df_fr, df_ko, df_ar, df_zh] #  "de"
dropped_df_list = []

for df in lang_df_list:
    dropped_rows = []

    for talk_id in df["talk_id"].to_numpy():
        if talk_id not in df_de["talk_id"].to_numpy():
            #print (talk_id)
            dr_row = df[df["talk_id"]==talk_id].index.item()
            dropped_rows.append(dr_row)

    dropped_df = df.drop(dropped_rows)
    dropped_df.reset_index(inplace=True, drop=True)
    dropped_df_list.append(dropped_df)
print (dropped_df_list)

# Drop instance of de not existing in others
dropped_rows = []

for talk_id in df_de["talk_id"].to_numpy():
    if talk_id not in df_fr["talk_id"].to_numpy():
        print (talk_id)
        dr_row = df_de[df_de["talk_id"]==talk_id].index.item()
        dropped_rows.append(dr_row)

dropped_df_de = df_de.drop(dropped_rows)
dropped_df_de.reset_index(inplace=True, drop=True)
dropped_df_list.append(dropped_df_de)
dropped_df_list

[    talk_id                                                doc
0      1548  {'en': ['the Oxford English Dictionary is "sno...
1      1553  {'en': ['There are a lot of ways the people ar...
2       531  {'en': ['Last year at TED I gave an introducti...
3       535  {'en': ['Last year I showed these two slides s...
4      2102  {'en': ['This is my niece, Stella.', 'She's ju...
..      ...                                                ...
87     2024  {'en': ['On November 5th, 1990,  a man named E...
88     1518  {'en': ['Hi. This is my mobile phone.', 'A mob...
89     1520  {'en': ['with this photo of a bullet piercing ...
90     2045  {'en': ['Right now  you have a movie playing i...
91     1534  {'en': ['So, well, I do applied math,  and thi...

[92 rows x 2 columns],     talk_id                                                doc
0      1548  {'en': ['One of my favorite words in the whole...
1      1553  {'en': ['There are a lot of ways the people ar...
2       531  {'en': ['Last year at TED I gave an introducti...
3       535  {'en': ['Last year I showed these two slides s...
4      2102  {'en': ['This is my niece, Stella.', 'She's ju...
..      ...                                                ...
87     2024  {'en': ['On November 5th, 1990,  a man named E...
88     1518  {'en': ['Hi. This is my mobile phone.', 'A mob...
89     1520  {'en': ['Doc Edgerton inspired us with awe and...
90     2045  {'en': ['Right now  you have a movie playing i...
91     1534  {'en': ['So, well, I do applied math,  and thi...

[92 rows x 2 columns],     talk_id                                                doc
0      1548  {'en': ['One of my favorite words in the whole...
1      1553  {'en': ['There are a lot of ways the people ar...
2       531  {'en': ['Last year at TED I gave an introducti...
3       535  {'en': ['Last year I showed these two slides s...
4      2102  {'en': ['This is my niece, Stella.', 'She's ju...
..      ...                                                ...
87     2024  {'en': ['On November 5th, 1990,  a man named E...
88     1518  {'en': ['Hi. This is my mobile phone.', 'A mob...
89     1520  {'en': ['Doc Edgerton inspired us with awe and...
90     2045  {'en': ['Right now  you have a movie playing i...
91     1534  {'en': ['So, well, I do applied math,  and thi...

[92 rows x 2 columns],     talk_id                                                doc
0      1548  {'en': ['One of my favorite words in the whole...
1      1553  {'en': ['There are a lot of ways the people ar...
2       531  {'en': ['Last year at TED I gave an introducti...
3       535  {'en': ['Last year I showed these two slides s...
4      2102  {'en': ['This is my niece, Stella.', 'She's ju...
..      ...                                                ...
87     2024  {'en': ['On November 5th, 1990,  a man named E...
88     1518  {'en': ['Hi. This is my mobile phone.', 'A mob...
89     1520  {'en': ['Doc Edgerton inspired us with awe and...
90     2045  {'en': ['Right now  you have a movie playing i...
91     1534  {'en': ['So, well, I do applied math,  and thi...

[92 rows x 2 columns],     talk_id                                                doc
0      1548  {'en': ['One of my favorite words in the whole...
1      1553  {'en': ['There are a lot of ways the people ar...
2       531  {'en': ['Last year at TED I gave an introducti...
3       535  {'en': ['Last year I showed these two slides s...
4      2102  {'en': ['This is my niece, Stella.', 'She's ju...
..      ...                                                ...
87     2024  {'en': ['On November 5th, 1990,  a man named E...
88     1518  {'en': ['Hi. This is my mobile phone.', 'A mob...
89     1520  {'en': ['with this photo of a bullet piercing ...
90     2045  {'en': ['Right now  you have a movie playing i...
91     1534  {'en': ['So, well, I do applied math,  for any...

[92 rows x 2 columns]]
1539

[    talk_id                                                doc
 0      1548  {'en': ['the Oxford English Dictionary is "sno...
 1      1553  {'en': ['There are a lot of ways the people ar...
 2       531  {'en': ['Last year at TED I gave an introducti...
 3       535  {'en': ['Last year I showed these two slides s...
 4      2102  {'en': ['This is my niece, Stella.', 'She's ju...
 ..      ...                                                ...
 87     2024  {'en': ['On November 5th, 1990,  a man named E...
 88     1518  {'en': ['Hi. This is my mobile phone.', 'A mob...
 89     1520  {'en': ['with this photo of a bullet piercing ...
 90     2045  {'en': ['Right now  you have a movie playing i...
 91     1534  {'en': ['So, well, I do applied math,  and thi...

 [92 rows x 2 columns],
     talk_id                                                doc
 0      1548  {'en': ['One of my favorite words in the whole...
 1      1553  {'en': ['There are a lot of ways the people ar...
 2       531  {'en': ['Last year at TED I gave an introducti...
 3       535  {'en': ['Last year I showed these two slides s...
 4      2102  {'en': ['This is my niece, Stella.', 'She's ju...
 ..      ...                                                ...
 87     2024  {'en': ['On November 5th, 1990,  a man named E...
 88     1518  {'en': ['Hi. This is my mobile phone.', 'A mob...
 89     1520  {'en': ['Doc Edgerton inspired us with awe and...
 90     2045  {'en': ['Right now  you have a movie playing i...
 91     1534  {'en': ['So, well, I do applied math,  and thi...

 [92 rows x 2 columns],
     talk_id                                                doc
 0      1548  {'en': ['One of my favorite words in the whole...
 1      1553  {'en': ['There are a lot of ways the people ar...
 2       531  {'en': ['Last year at TED I gave an introducti...
 3       535  {'en': ['Last year I showed these two slides s...
 4      2102  {'en': ['This is my niece, Stella.', 'She's ju...
 ..      ...                                                ...
 87     2024  {'en': ['On November 5th, 1990,  a man named E...
 88     1518  {'en': ['Hi. This is my mobile phone.', 'A mob...
 89     1520  {'en': ['Doc Edgerton inspired us with awe and...
 90     2045  {'en': ['Right now  you have a movie playing i...
 91     1534  {'en': ['So, well, I do applied math,  and thi...

 [92 rows x 2 columns],
     talk_id                                                doc
 0      1548  {'en': ['One of my favorite words in the whole...
 1      1553  {'en': ['There are a lot of ways the people ar...
 2       531  {'en': ['Last year at TED I gave an introducti...
 3       535  {'en': ['Last year I showed these two slides s...
 4      2102  {'en': ['This is my niece, Stella.', 'She's ju...
 ..      ...                                                ...
 87     2024  {'en': ['On November 5th, 1990,  a man named E...
 88     1518  {'en': ['Hi. This is my mobile phone.', 'A mob...
 89     1520  {'en': ['Doc Edgerton inspired us with awe and...
 90     2045  {'en': ['Right now  you have a movie playing i...
 91     1534  {'en': ['So, well, I do applied math,  and thi...

 [92 rows x 2 columns],
     talk_id                                                doc
 0      1548  {'en': ['One of my favorite words in the whole...
 1      1553  {'en': ['There are a lot of ways the people ar...
 2       531  {'en': ['Last year at TED I gave an introducti...
 3       535  {'en': ['Last year I showed these two slides s...
 4      2102  {'en': ['This is my niece, Stella.', 'She's ju...
 ..      ...                                                ...
 87     2024  {'en': ['On November 5th, 1990,  a man named E...
 88     1518  {'en': ['Hi. This is my mobile phone.', 'A mob...
 89     1520  {'en': ['with this photo of a bullet piercing ...
 90     2045  {'en': ['Right now  you have a movie playing i...
 91     1534  {'en': ['So, well, I do applied math,  for any...

 [92 rows x 2 columns],
     talk_id                                                doc
 0      1548  {'en': ['One of my favorite words in the whole...
 1      1553  {'en': ['There are a lot of ways the people ar...
 2       531  {'en': ['Last year at TED I gave an introducti...
 3       535  {'en': ['Last year I showed these two slides s...
 4      2102  {'en': ['This is my niece, Stella.', 'She's ju...
 ..      ...                                                ...
 87     2024  {'en': ['On November 5th, 1990, a man named El...
 88     1518  {'en': ['Hi. This is my mobile phone.', 'A mob...
 89     1520  {'en': ['Doc Edgerton inspired us with awe and...
 90     2045  {'en': ['Right now you have a movie playing in...
 91     1534  {'en': ['So, well, I do applied math, and this...

 [92 rows x 2 columns]]

In [213]:

lang_list = ["ja", "fr", "ko", "ar","zh","de"] 
for tgt_lang in lang_list:
    print ("tgt_lang: ", tgt_lang)
    df = pd.read_json(f"/home/sumire/thesis/LLM_Contextual_Prompt_MT/data/iwslt_hf/ted_en-{tgt_lang}")
    
    
    for lang in ["en", tgt_lang]:
        sum_length = 0
        for doc in df["doc"]: 
            talk_length = len(doc[lang])
            sum_length += talk_length
    
        print (lang, ":sum", sum_length)
    print (lang, "Average_length", sum_length/len(df))
    print ()
            #talk_length = len(talk)
            #sum_length += talk_length
            #print ("sum", sum_length)
        #print (lang, "talk length")
        #print (sum_length/len(df))

tgt_lang:  ja
en :sum 9340
ja :sum 9340
ja Average_length 96.28865979381443

tgt_lang:  fr
en :sum 9487
fr :sum 9487
fr Average_length 97.80412371134021

tgt_lang:  ko
en :sum 9393
ko :sum 9393
ko Average_length 96.83505154639175

tgt_lang:  ar
en :sum 9471
ar :sum 9471
ar Average_length 97.63917525773196

tgt_lang:  zh
en :sum 9428
zh :sum 9428
zh Average_length 97.19587628865979

tgt_lang:  de
en :sum 8967
de :sum 8967
de Average_length 96.41935483870968

In [214]:
lang_list = ["ja", "fr", "ko", "ar","zh","de"] 

for lang, dropped_df in zip (lang_list, dropped_df_list):
    #with open(f"/home/sumire/thesis/LLM_Contextual_Prompt_MT/data/iwslt_hf/ted_en-{lang}", 'w', encoding='utf-8') as file:
        #dropped_df.to_json(file)
    json_object = dropped_df.to_json(force_ascii=False, orient="records", indent = 4)
    with open(f"/home/sumire/thesis/LLM_Contextual_Prompt_MT/data/iwslt_hf/ted_en-{lang}", "w", encoding='utf-8') as outfile:
        outfile.write(json_object)

# Original XML Data Preprocessing

### Preprocessing Rule
1. extract talk id and (content + file id) separately
2.  Check the length of both
    - If same length:
        - Concatenate both
    - If different length:
        - Delete duplicates in content df or add corresponding talkid refer to other languages.  
        - When same length, concatenate both. 
3. Sort the concatenated df by talkid
4. Check if the parallelism work in two languages 
5. Delete row where the other language file doesn't have talk id

In [4]:
from datasets import load_dataset
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np

In [196]:
languages = ["ja", "en", "de", "ko", "zh", "zh-cn", "zh-tw", "ar", "fr"]

def create_talkid_df(languages):
    talkid_dfs = {}
    print ("The number of talk ids in each languages: ")
    for lang in languages:
        with open(f'/home/sumire/thesis/LLM_Contextual_Prompt_MT/data/iwslt17/FILTERED_xml/ted_{lang}.xml', 'r', encoding="utf-8") as f: # , 
            data = f.read()
            bs_data = BeautifulSoup(data, "xml")
            talkid = bs_data.find_all("talkid")
            print (f"{lang}:", len(talkid))
            talkid_df = pd.DataFrame({"talk_id":talkid})
            talkid_df["talk_id"]=talkid_df["talk_id"].map(lambda x:str(x))
            talkid_df["talk_id"]=talkid_df["talk_id"].map(lambda x:x[8:-9]) # Extract only the ids from data
            talkid_dfs[f"{lang}"] = talkid_df
    return talkid_dfs
        
talkid_dfs = create_talkid_df(languages)

The number of talk ids in each languages:
ja: 2489
en: 2683
de: 2161
ko: 2565
zh: 163
zh-cn: 2429
zh-tw: 2578
ar: 2545
fr: 2597

In [320]:
talkid_df_ja = talkid_dfs["ja"]
talkid_df_ja
talkid_df_de = talkid_dfs["de"]
talkid_df_de
talkid_df_en = talkid_dfs["en"]
talkid_df_en
talkid_df_ko = talkid_dfs["ko"]
talkid_df_ko
talkid_df_zh_cn = talkid_dfs["zh-cn"]
talkid_df_zh_cn
talkid_df_ar = talkid_dfs["ar"]
talkid_df_ar
talkid_df_fr = talkid_dfs["fr"]

In [362]:
with open(f'/home/sumire/thesis/LLM_Contextual_Prompt_MT/data/iwslt17/FILTERED_xml/ted_de.xml', 'r', encoding="utf-8") as f: # , 
            data = f.read()
            bs_data = BeautifulSoup(data, "xml")
for e in bs_data.find_all('head'):
    if e.find('talkid') == None:
        #if len(e.find{'content'}) > 1: 
        print(e)

<head>
<url>http://www.ted.com/talks/roger_antonsen_math_is_the_hidden_secret_to_understanding_the_world?language=de</url>
<encoding>UTF-8</encoding>
<content-type>text/html; charset=utf-8</content-type>
<description>TED Talk Subtitles and Transcript: Entschlüsseln Sie die Geheimnisse und das Innenleben der Welt mithilfe einer der fantasievollsten Kunstformen: Mathematik. Roger Antonsen erläutert, wie ein leichter Perspektivenwechsel Muster, Zahlen und Formeln aufdecken und als Zugang zu Empathie und Verständnis dienen kann.</description>
<title>Roger Antonsen: Mathematik: das verborgene Geheimnis zum Verständnis der Welt</title>
<transcription>
<seekvideo id="1">Hallo. Ich möchte über Verständnis, die Eigenart und das Wesen von Verständnis sprechen, denn wir alle bemühen uns, zu verstehen. Wir wollen Dinge verstehen. Ich behaupte, dass Verständnis mit der Fähigkeit zusammenhängt, die Perspektive zu wechseln. Wenn man das nicht hat, kann man nicht verstehen. Das behaupte ich jedenfalls.</seekvideo>
<seekvideo id="2">Ich will mich auf Mathematik konzentrieren. Viele von uns denken bei Mathematik an Addition, Subtraktion, Multiplikation, Division, Brüche, Prozent, Geometrie, Algebra — all diese Dinge. Ich möchte aber eigentlich auch über das Wesen der Mathematik sprechen. Ich behaupte, dass Mathematik mit Mustern zu tun hat.</seekvideo>
<seekvideo id="3">Hinter mir sehen Sie ein wunderschönes Muster, das nur dadurch entsteht, dass man Kreise auf eine sehr bestimmte Art und Weise zeichnet. Meine Alltagsdefinition von Mathematik, die ich ständig benutze, lautet: Erstens geht es darum, Muster zu finden. Mit "Muster" meine ich eine Verbindung, eine Struktur, Regelmäßigkeit, Regeln, die das, was wir sehen, steuern. Zweitens geht es darum, diese Muster mit Hilfe einer Sprache darzustellen. Wir erfinden Sprache, wenn wir keine haben. In der Mathematik ist das wesentlich. Es geht darum, Vermutungen anzustellen, mit ihnen herumzuspielen und zu sehen, was geschieht. Wir werden das bald tun. Und schließlich geht es um coole Dinge. Mathematik ermöglicht uns viele Dinge.</seekvideo>
<seekvideo id="4">Schauen wir uns diese Muster mal an. Wenn man eine Krawatte bindet, entstehen Muster. Krawattenknoten haben Namen. Man kann diese Knoten auch berechnen. Das ist ein "links-hinaus, rechts-hinein, mittig-hinaus und binden". Das ist ein "links-hinein, rechts-hinaus, links-hinein, mittig-hinaus und binden". Diese Sprache haben wir für die Muster von Krawattenknotten erfunden. Ein halber Windsor-Knoten umfasst alles davon. Dies ist ein Mathematikbuch zum Thema Schnürsenkel binden auf Universitätsniveau, weil Schnürsenkel aus Mustern bestehen. Man kann sie auf so viele verschiedene Weisen binden. Wir können das analysieren. Wir können Sprachen dafür erfinden.</seekvideo>
<seekvideo id="5">Darstellungen sind voller Mathematik. Dies die Leibniz-Schreibweise aus dem Jahre 1675. Er erfand eine Sprache für Muster in der Natur. Wenn wir etwas in die Luft werfen, fällt es herunter. Warum? Wir wissen es nicht genau, können es aber mathematisch als Muster darstellen.</seekvideo>
<seekvideo id="6">Das ist auch ein Muster. Das ist auch eine erfundene Sprache. Können Sie erraten wofür? Das ist ein Notationssystem für einen Stepptanz. Das ermöglicht dem Choreographen, coole und neue Sachen zu machen, weil er es dargestellt hat.</seekvideo>
<seekvideo id="7">Denken Sie darüber nach, wie wundervoll die Darstellung von etwas eigentlich ist. Das heißt "Mathematik". Aber eigentlich sind es nur Punkte, nicht war? Wie können also diese Punkte das Wort darstellen? Nun, es geht. Sie stellen "Mathematik" dar. Diese Symbole stellen auch das Wort dar und wir können zuhören. So hört es sich an.</seekvideo>
<seekvideo id="8">(Pieptöne)</seekvideo>
<seekvideo id="9">Irgendwie stellen diese Geräusche das Wort und das Prinzip dar. Wie geschieht das? Wenn man etwas darstellt, ist etwas Wundervolles im Gange.</seekvideo>
<seekvideo id="10">Ich möchte über die Magie sprechen, wenn etwas tatsächlich dargestellt wird. Hier sehen Sie nur Linien in unterschiedlicher Breite. Sie repräsentieren Nummern für ein bestimmtes Buch. Ich kann das Buch empfehlen, es ist ein sehr gutes Buch.</seekvideo>
<seekvideo id="11">(Gelächter)</seekvideo>
<seekvideo id="12">Vertrauen Sie mir.</seekvideo>
<seekvideo id="13">Wir werden ein Experiment machen, um mit einigen geraden Linien herumzuspielen. Dies ist eine gerade Linie. Wir zeichnen noch eine. Bei jeder Bewegung geht es eine Einheit nach unten und eine quer und wir zeichnen eine neue gerade Linie, richtig? WIr machen das immer und immer wieder und suchen nach Mustern. Dann erscheint dieses Muster. Es ist ein ziemlich schönes Muster. Es sieht aus wie eine Kurve, richtig? Allein durch das Zeichnen einfacher gerader Linien.</seekvideo>
<seekvideo id="14">Ich kann meine Perspektive etwas verändern und die Kurve drehen. Schauen Sie sich die Kurve an. Wie sieht sie aus? Ist sie Teil eines Kreises? Eigentlich ist sie kein Teil eines Kreises. Ich muss meine Untersuchung fortführen und nach dem echten Muster suchen. Was wenn ich sie kopiere und Kunst daraus mache? Eher nicht. Vielleicht sollte ich die Linien so ausweiten und dann nach einem Muster suchen. Zeichnen wir noch mehr Linien. Das machen wir. Dann zoomen wir heraus und wechseln wieder unsere Perspektive. Dann können wir erkennen, dass die ersten geraden Linien eigentlich eine Kurve bilden, eine sogenannte Parabel. Sie wird durch eine einfache Gleichung dargestellt und ist ein wunderschönes Muster.</seekvideo>
<seekvideo id="15">Damit beschäftigen wir uns. Wir suchen Muster und stellen sie dar. Ich denke, das ist eine nette Alltagsdefinition. Heute möchte ich etwas tiefer einsteigen und über das Wesen davon nachdenken. Wie ist das möglich? Es gibt etwas, das ein wenig tiefer sitzt und mit der Fähigkeit zusammenhängt, die Perspektive zu wechseln. Ich behaupte, wenn man die Perspektive wechselt und einen anderen Standpunkt einnimmt, lernte man etwas Neues über das, was man beobachtet, anschaut oder hört. Ich halte das für etwas sehr Wichtiges, das wir ständig tun.</seekvideo>
<seekvideo id="16">Schauen wir uns diese einfache Gleichung an: x + x = 2 • x. Das ist ein schönes Muster und es stimmt, denn 5 + 5 = 2 • 5, etc. Wir haben das immer wieder gesehen und stellen es so dar. Aber denken Sie daran: Das ist eine Gleichung. Sie sagt aus, dass eine Sache einer anderen gleichkommt und das sind zwei verschiedene Perspektiven. Eine Perspektive ist eine Summe. Etwas, das man zusammenzählt. Auf der anderen Seite steht eine Multiplikation, das sind zwei verschiedene Perspektiven. Ich würde soweit gehen zu behaupten, dass jede Gleichung so ist. Jede mathematische Gleichung mit einem Gleichheitszeichen ist eigentlich eine Metapher. Es ist eine Analogie zwischen zwei Dingen. Man sieht etwas, nimmt zwei verschiedene Standpunkte ein</seekvideo>
<seekvideo id="17">und drückt das mit einer Sprache aus. Sehen Sie sich diese Gleichung an. Dies ist eine der schönsten Gleichungen. Sie sagt einfach nur aus, dass zwei Dinge zusammen -1 ergeben, Das Ding links ergibt -1 und das andere ebenso. Das ist eins der wesentlichen Elemente der Mathematik:</seekvideo>
<seekvideo id="18">zwei verschiedene Ansichten. Spielen wir ein wenig herum. Nehmen wir eine Zahl, Wir kennen vier Drittel. Wir wissen, was vier Drittel sind. Das ist 1,333, aber wir brauchen diese drei Punkte, sonst sind es nicht exakt vier Drittel. Das gilt aber nur für die Basis 10. Sie wissen schon, das Zahlensystem mit 10 Stellen. Wenn wir nur zwei Stellen verwenden, heißt das Binärsystem. Es wird so geschrieben. Jetzt sprechen wir über die Zahl. Die Zahl lautet vier Drittel. Wir können das so schreiben, wir können auch die Basis, die Anzahl der Stellen ändern</seekvideo>
<seekvideo id="19">und es anders aufschreiben. Das sind alles Darstellungen derselben Zahl. Es geht auch einfach: etwa 1,3 oder 1,6. Es hängt von der Anzahl der Stellen ab. Vielleicht vereinfachen wir und schreiben es so. Ich mag das, weil es heißt: vier geteilt durch drei. Diese Zahl drückt eine Beziehung zwischen zwei Zahlen aus. Man hat vier auf der einen und drei auf der anderen Seite. Man kann das unterschiedlich veranschaulichen. Ich betrachte diese Zahl nun aus verschiedenen Blickwinkeln. Ich spiele herum. Ich spiele ganz bewusst mit Sichtweisen herum. Nehmen wir ein Raster. Bei vier waagrecht und drei senkrecht ergibt diese Linie immer fünf. Das muss so sein. Es ist ein schönes Muster. Vier und Drei und Fünf. Dieses Rechteck aus 4 x 3 haben Sie schon oft gesehen. Das ist ein durchschnittlicher Computerbildschirm.</seekvideo>
<seekvideo id="20">800 x 600 oder 1 600 x 1 200 ist ein Fernseh- oder Computerbildschirm. Das sind alles nette Darstellungen, aber ich möchte noch weitergehen und mit dieser Zahl spielen. Hier sehen Sie zwei Kreise. Ich werde sie drehen. Beobachten Sie den Kreis oben links. Er dreht sich etwas schneller, nicht wahr? Sie können das sehen. Er dreht sich genau vier Drittel so schnell. Das bedeutet, wenn er sich viermal dreht, dreht sich der andere dreimal.</seekvideo>
<seekvideo id="21">Jetzt zeichnen wir zwei Linien und diesen Punkt, an dem sich die beiden Linien treffen.</seekvideo>
<seekvideo id="22">Wir lassen diesen Punkt tanzen. (Gelächter) Dieser Punkt kommt von dieser Zahl. Stimmt's? Wir sollten ihn verfolgen. Das tun wir und sehen, was geschieht. Darum geht es in der Mathematik. Es geht darum, zu beobachten, was geschieht. Das bildet sich aus vier Dritteln heraus.</seekvideo>
<seekvideo id="23">Das ist das Bild von vier Drittel.</seekvideo>
<seekvideo id="24">Es ist viel schöner — (Beifallsrufe) Danke! (Applaus)</seekvideo>
<seekvideo id="25">Das ist nicht neu.</seekvideo>
<seekvideo id="26">Das weiß man schon sehr lange, aber —</seekvideo>
<seekvideo id="27">(Gelächter) Aber das sind vier Drittel.</seekvideo>
<seekvideo id="28">Machen wir ein anderes Experiment. Wir nehmen ein Geräusch: (Piepen) Das ist ein perfektes a, 440 Hz.</seekvideo>
<seekvideo id="29">Wir multiplizieren mit zwei und erhalten dieses Geräusch. (Piepen) Wenn wir sie zusammen abspielen, hört es sich so an. Das ist eine Oktave, nicht wahr?</seekvideo>
<seekvideo id="30">Wir können herumspielen, einen Ton spielen, dasselbe a.</seekvideo>
<seekvideo id="31">Wir können es mit drei Halbtönen multiplizieren.</seekvideo>
<seekvideo id="32">(Piepen)</seekvideo>
<seekvideo id="33">Das nennen wir eine perfekte Quinte. (Piepen)</seekvideo>
<seekvideo id="34">Zusammen hören sie sich wirklich gut an. Wir multiplizieren diesen Ton mit vier Drittel. (Piepen)</seekvideo>
<seekvideo id="35">Was passiert? Das ist eine perfekte Quart.</seekvideo>
<seekvideo id="36">Wenn der erste Ton ein a ist, ist dieser ein d. Zusammen hören sie sich so an. (Piepen) So klingen vier Drittel.</seekvideo>
<seekvideo id="37">Ich wechsle nun meine Perspektive. Ich betrachte eine Zahl aus einer anderen Perspektive.</seekvideo>
<seekvideo id="38">Das kann ich sogar mit Rhythmen tun, nicht wahr? Ich kann einen Rhythmus wählen und drei Schläge gleichzeitig spielen</seekvideo>
<seekvideo id="39">(Trommelschlag)</seekvideo>
<seekvideo id="40">Ich kann einen anderen Ton viermal in derselben Zeitspanne spielen.</seekvideo>
<seekvideo id="41">(Klirrendes Geräusch)</seekvideo>
<seekvideo id="42">Klingt langweilig, aber hören Sie, wie sie gemeinsam klingen.</seekvideo>
<seekvideo id="43">(Trommel und klirrendes Geräusch)</seekvideo>
<seekvideo id="44">(Gelächter)</seekvideo>
<seekvideo id="45">Hey! So.</seekvideo>
<seekvideo id="46">(Gelächter)</seekvideo>
<seekvideo id="47">Ich kann sogar ein kleines Hi-Hat machen. (Trommel und Becken) Können Sie das hören?</seekvideo>
<seekvideo id="48">So klingen vier Drittel.</seekvideo>
<seekvideo id="49">Das wieder als Rhythmus. (Trommel und Kuhglocke)</seekvideo>
<seekvideo id="50">Ich kann so weitermachen und mit dieser Zahl spielen.</seekvideo>
<seekvideo id="51">Vier Drittel ist eine tolle Zahl. Ich liebe vier Drittel! (Gelächter) Wirklich — es ist eine unterschätzte Zahl. Sehen Sie sich das Volumen der Kugel an.</seekvideo>
<seekvideo id="52">Das sind eigentlich vier Drittel eines besonderen Zylinders. Vier Drittel sind in der Kugel, es ist das Volumen der Kugel. Warum mache ich das alles? Ich möchte darüber sprechen, was es bedeutet, etwas zu verstehen und was wir damit meinen, etwas zu verstehen. Das ist mein Ziel. Ich behaupte, dass man etwas versteht, wenn man von verschiedenen Standpunkten betrachten kann. Schauen wir uns diesen Buchstaben an. Ein schönes R, stimmt's? Woher wissen Sie das? Sie haben schon viele Rs gesehen, haben verallgemeinert,</seekvideo>
<seekvideo id="53">von diesen abstrahiert und ein Muster gefunden. Sie wissen, dass das ein R ist. Ich möchte etwas darüber sagen, wie Verständnis und Perspektivenwechsel miteinander verbunden sind. Ich bin Lehrer und Dozent und kann dies im Unterricht einsetzen, denn wenn ich jemandem eine andere Geschichte, Metapher oder Analogie erzähle, wenn ich eine Geschichte aus einer anderen Sicht erzähle, ermögliche ich Verständnis. Ich mache Verständnis möglich,</seekvideo>
<seekvideo id="54">weil man alles, was man sieht und hört, verallgemeinern muss. Wenn ich Ihnen eine andere Perspektive biete, ist das leichter für Sie. Noch ein einfaches Beispiel. Das sind vier und drei. Es sind vier Dreiecke. Das sind gewissermaßen auch vier Drittel. Wir verbinden sie. Wir spielen ein Spiel; wir falten sie zu einer dreidimensionalen Struktur. Ich liebe das. Das ist eine quadratische Pyramide. Fügen wir zwei davon zusammen. Das nennen wir einen Oktaeder. Es ist einer der fünf platonischen Körper. Wir können buchstäblich unsere Perspektive wechseln, weil wir ihn um alle Achsen drehen können und von verschiedenen Perspektiven sehen können. Ich kann die Achse ändern und ihn aus einer anderen Ansicht betrachten</seekvideo>
<seekvideo id="55">Es ist das gleiche, sieht aber ein wenig anders aus. Ich kann es noch einmal machen. Immer wenn ich das tue, erscheint etwas anderes. Ich lerne also mehr über den Gegenstand, wenn ich meine Perspektive ändere. Ich kann das als Werkzeug gebrauchen, um Verständnis zu erzeugen. Ich kann zwei davon nehmen und so zusammensetzen und schauen, was passiert. Es sieht ein bisschen aus wie ein Oktaeder. Schauen Sie es sich an, wenn ich ihn so drehe. Was passiert? Wenn man zwei davon zusammensetzt und dreht, entsteht wieder der Oktaeder, eine wunderschöne Struktur. Wenn man es auf dem Boden ausbreitet, ist das der Oktaeder. Das ist die grafische Struktur eines Oktaeders. Ich kann damit weitermachen. Man kann drei große Kreise um den Oktaeder zeichnen und sie drehen lassen. Drei große Kreise sind tatsächlich mit dem Oktaeder verwandt. Wenn ich das mit einer Fahrradpumpe aufpumpe, ist das auch ein bisschen wie der Oktaeder.</seekvideo>
<seekvideo id="56">Sehen Sie, was ich hier mache? Ich wechsle die Perspektive jedes Mal. Gehen wir einen Schritt zurück — das ist eigentlich eine Metapher — und sehen, was wir machen. Ich spiele mit Metaphern. Ich spiele mit Perspektiven und Analogien. Ich erzähle eine Geschichte auf verschiedene Weisen. Ich erzähle Geschichten. Ich mache eine Erzählung; ich mache mehrere Erzählungen. Ich denke, alles das ermöglicht Verständnis.</seekvideo>
<seekvideo id="57">Das ist das Wesen des Verstehens. Ich glaube das wirklich. Es geht um Perpektivenwechsel — das ist für uns Menschen absolut wichtig. Spielen wir mit der Erde. Zoomen wir in den Ozean, betrachten wir den Ozean. Das geht mit allem. Wir können den Ozean aus der Nähe betrachten. Wir können die Wellen betrachten. Wir können an den Strand gehen. Wir können den Ozean aus anderer Sicht betrachten. Jedes Mal lernen wir ein wenig mehr über den Ozean. An der Küste können wir ihn riechen, stimmt's? Wir können die Wellen hören. Wir können das Salz auf unserer Zunge fühlen. Das sind alles verschiedene Perspektiven. Das ist die beste. Wir können ins Wasser gehen. Wir sehen das Wasser von innen. Wissen Sie was? Das ist absolut wesentlich für die Mathematik und die Informatik. Wenn man eine Struktur von innen sehen kann,</seekvideo>
<seekvideo id="58">dann lernt man wirklich etwas darüber. Das ist das Wesen von etwas. Wenn wir das tun und die Reise in den Ozean gemacht haben, gebrauchen wir unsere Vorstellungskraft. Das ist auf einem tieferen Level, es erfordert, die Perspektive zu ändern. Spielen wir ein kleines Spiel. Sie können sich vorstellen, dort zu sitzen. Sie können sich vorstellen, dass Sie hier oben sind und dort sitzen. Sie können sich von außen betrachten. Das ist wirklich seltsam. Sie ändern Ihre Perspektive. Sie verwenden Ihre Vorstellungskraft</seekvideo>
<seekvideo id="59">und sehen sich selbst von außen. Das erfordert Vorstellungskraft. Mathematik und Informatik sind die fantasievollsten Künste überhaupt. Perspektivenwechsel sollte Ihnen ein wenig vertraut sein, weil wir es jeden Tag tun. Dann wird es Empathie genannt. Wenn ich die Welt aus Ihrer Perspektive betrachte, habe ich Einfühlungsvermögen für Sie. Wenn ich wirklich verstehe, wie die Welt aus Ihrer Perspektive aussieht, bin ich empathisch. Das erfordert Vorstellungsvermögen. So gelangen wir zu Verständnis.</seekvideo>
<seekvideo id="60">Das geht alles um Mathematik, das geht alles um Informatik. Es gibt eine tiefe Verbindung zwischen Empathie und diesen Wissenschaften. Meine Schlussfolgerung ist folgende: Etwas wirklich zu verstehen, hat mit der Fähigkeit zu tun, die Perspektive zu ändern. Ich rate Ihnen deshalb: Versuchen Sie, Ihre Perspektive zu ändern. Sie können Mathematik studieren. Es ist eine wunderbare Möglichkeit, Ihr Gehirn zu trainieren. Wenn Sie Ihre Perspektive ändern, wird Ihr Geist flexibler. Sie werden offener gegenüber neuen Dingen und Sie können Dinge verstehen. Um eine andere Metapher zu gebrauchen:</seekvideo>
<seekvideo id="61">Haben Sie einen Geist wie Wasser.</seekvideo>
<seekvideo id="62">Das ist schön. Danke. (Applaus)</seekvideo>
</transcription>
<wordnum>2415</wordnum>
<charnum>15366</charnum>
</head>
<head>
<url>http://www.ted.com/talks/kevin_stone_the_bio_future_of_joint_replacement?language=de</url>
<pagesize>0</pagesize>
<dtime>Fri Apr 20 16:39:09 CEST 2018</dtime>
<encoding>UTF-8</encoding>
<content-type>text/html; charset=utf-8</content-type>
<description>TED Talk Subtitles and Transcript: Durch Athritis und Verletzungen nutzen sich Millionen von Gelenken ab. Aber wenige Patienten erhalten die beste Abhilfe: echtes biologisches Gewebe. Die von Kevin Stone gezeigte Behandlung umgeht durch eine neuartige Verwendung von Tiergewebe hohe Kosten und den Spendermangel an Mensch-zu-Mensch-Transplataten.</description>
<title>Kevin Stone: Die Bio-Zukunft des Gelenkersatzes</title>
<transcription>
<seekvideo id="1">Lassen Sie mich mit meiner Geschichte anfangen. Ich habe mir den Meniskus des Knies zerissen, als ich am Kollege Fußball spielte. Dann habe ich mir mein vorderes Kreuzband zerissen, das Band in meinem Knie, und danach bekam Arthritis im Knie. Ich bin sicher, viele von Ihnen hier im Publikum haben Ähnliches erlebt. Nebenbei bemerkt, ich habe eine Frau geheiratet, die genau die gleiche Krankheitsgeschichte hat. Das motivierte mich dazu, orthopädischer Chirurg zu werden und herauszufinden, ob ich mich nicht Lösungen diseer Probleme widmen könnte, die mich weiter Sport trieben ließen, anstatt mich einzuschränken. Soweit dazu. Lassen Sie mich Ihnen einfach ein kurzes Video zeigen, um Sie auf das einzustimmen, was wir zu erklären versuchen.</seekvideo>

In [68]:
def create_content_df(languages):
    content_dfs = {}
    print ("The number of content data in each languages: ")
    for lang in languages:
        content_df = pd.read_xml(f'/home/sumire/thesis/LLM_Contextual_Prompt_MT/data/iwslt17/FILTERED_xml/ted_{lang}.xml', parser='lxml')
        content_df = content_df.drop(["head", "id"], axis = 1)
        print (f"{lang}: ", len(content_df))
        content_dfs[f"{lang}"] = content_df
    return content_dfs
    
content_dfs = create_content_df(languages)

The number of content data in each languages:
ja:  2490
en:  2683
de:  2163
ko:  2565
zh:  163
zh-cn:  2429
zh-tw:  2578
ar:  2545
fr:  2598

In [198]:
content_df_ja = content_dfs["ja"]
content_df_ja

                                                content
0     人と話をしている時に 言及した論文を 実際には読んでなかった ということはありませんか？\n...
1     胴枯病は栗の木を 絶えさせるのか 農夫らはそうは思わない 根でくすぶりながら 新たな芽を送り...
2     皆さんも多分 偉大な人物が いかにして偉業を成し遂げたのかと 考えたことがあると思います 成...
3     （ギター演奏）\n探し始めて\nもう何日にもなる\nどこに行ったの？\nどこに行ったんだろう...
4     文明の歴史は ある意味 地図の歴史です 私たちは まわりの世界を どのように理解してきたので...
...                                                 ...
2485  (拍手) 私は困難と興奮の 両方を感じています 興奮は この場で恩返し ができるからで 困難...
2486  おはようございます。気分はいかがですか？素晴らしいですね、ここは すべてが驚嘆の連続です だ...
2487  どうもありがとう クリス このステージに立てる機会を 2度もいただけるというのは実に光栄なこ...
2488  (♪「サウンドオブサイレンス」の節で) やあボイスメール 懐かしき友よ (笑) またテクニカ...
2489  ご来場の皆さん 本日はありがとうございます 皆さんなら 長期的視野に立った都市開発が 人類を...

[2490 rows x 1 columns]

In [322]:
content_df_ja = content_dfs["ja"]
content_df_ja
content_df_de = content_dfs["de"]
content_df_de
content_df_en = content_dfs["en"]
content_df_en
content_df_ko = content_dfs["ko"]
content_df_ko
content_df_zh_cn = content_dfs["zh-cn"]
content_df_zh_cn
content_df_ar = content_dfs["ar"]
content_df_ar
content_df_fr = content_dfs["fr"]

In [340]:
def concatenate_df(df1, df2, df1_col, df2_col):
    
    if df1.isnull().any()[df1_col]:
        print ("NAN for df1")
        df1[df1_col] = df1[df1_col].replace({np.NaN: "no contents"})
        print (df1.isnull().any(), "for df1")
        print (df1)
        
    if df2.isnull().any()[df2_col]:
        print ("NAN for df2")
        df2[df2_col] = df2[df2_col].replace({np.NaN: "no contents"})
        
        
    if len(df1) == len(df2): 
        concat_df = pd.concat([df1, df2], axis=1)
        print (concat_df.isnull().any())

        
    elif len(df1) > len(df2):
        #print ("(df1.duplicated() == False)", df1[df1[df1_col].duplicated() == False], "df1[df1_col]=='no contents'", df1[df1[df1_col]=="no contents"])
        df1 = df1[(df1[df1_col].duplicated() == False) | (df1[df1_col]=="no contents")]
        print ("df2for NAN", df2.isnull().any()[df2_col])
        print ("df1for NAN", df1.isnull().any()[df1_col])
        print (df1, df2)
        print ("df1.duplicated", df1[df1["content"].duplicated()])
        df1.reset_index(drop=True, inplace = True)
        concat_df = pd.concat([df1, df2], axis=1)
        print (concat_df.isnull().any())
    
    """
    elif len(df1) < len(df2):
        df2 = df2[(df2[df2_col].duplicated() == False) & (df2[df2_col].isnull()==False)] # Remove the duplicated content 
        concat_df = pd.concat([df1, df2], axis=1)
        print (concat_df.isnull().any())
    """
    
    return df1, df2, concat_df

In [327]:
_, _, concat_df_ja = concatenate_df(content_df_ja, talkid_df_ja, "content", "talk_id")
concat_df_ja

df2for NAN False
df1for NAN False
                                                content
0     人と話をしている時に 言及した論文を 実際には読んでなかった ということはありませんか？\n...
1     胴枯病は栗の木を 絶えさせるのか 農夫らはそうは思わない 根でくすぶりながら 新たな芽を送り...
2     皆さんも多分 偉大な人物が いかにして偉業を成し遂げたのかと 考えたことがあると思います 成...
3     （ギター演奏）\n探し始めて\nもう何日にもなる\nどこに行ったの？\nどこに行ったんだろう...
4     文明の歴史は ある意味 地図の歴史です 私たちは まわりの世界を どのように理解してきたので...
...                                                 ...
2485  (拍手) 私は困難と興奮の 両方を感じています 興奮は この場で恩返し ができるからで 困難...
2486  おはようございます。気分はいかがですか？素晴らしいですね、ここは すべてが驚嘆の連続です だ...
2487  どうもありがとう クリス このステージに立てる機会を 2度もいただけるというのは実に光栄なこ...
2488  (♪「サウンドオブサイレンス」の節で) やあボイスメール 懐かしき友よ (笑) またテクニカ...
2489  ご来場の皆さん 本日はありがとうございます 皆さんなら 長期的視野に立った都市開発が 人類を...

[2489 rows x 1 columns]      talk_id
0      12908
1      13062
2      11327
3      12459
4      12346
...      ...
2484      96
2485      66
2486       1
2487       7
2488      53

[2489 rows x 1 columns]
content    False
talk_id    False
dtype: bool

                                                content talk_id
0     人と話をしている時に 言及した論文を 実際には読んでなかった ということはありませんか？\n...   12908
1     胴枯病は栗の木を 絶えさせるのか 農夫らはそうは思わない 根でくすぶりながら 新たな芽を送り...   13062
2     皆さんも多分 偉大な人物が いかにして偉業を成し遂げたのかと 考えたことがあると思います 成...   11327
3     （ギター演奏）\n探し始めて\nもう何日にもなる\nどこに行ったの？\nどこに行ったんだろう...   12459
4     文明の歴史は ある意味 地図の歴史です 私たちは まわりの世界を どのように理解してきたので...   12346
...                                                 ...     ...
2484  (拍手) 私は困難と興奮の 両方を感じています 興奮は この場で恩返し ができるからで 困難...      96
2485  おはようございます。気分はいかがですか？素晴らしいですね、ここは すべてが驚嘆の連続です だ...      66
2486  どうもありがとう クリス このステージに立てる機会を 2度もいただけるというのは実に光栄なこ...       1
2487  (♪「サウンドオブサイレンス」の節で) やあボイスメール 懐かしき友よ (笑) またテクニカ...       7
2488  ご来場の皆さん 本日はありがとうございます 皆さんなら 長期的視野に立った都市開発が 人類を...      53

[2489 rows x 2 columns]

In [328]:
_, _, concat_df_ko = concatenate_df(content_df_ko, talkid_df_ko, "content", "talk_id")
concat_df_ko

content    False
talk_id    False
dtype: bool

                                                content talk_id
0     "들어보렴. 들리니?" 제 할머니가 물으셨죠. "들어보렴. 딱정벌레가 뭐라고 하는지...   13591
1     마름병이 밤나무를 멸종시킬까요? 농부들은 대부분 아니라고 생각합니다. 마름병은 뿌리...   13062
2     최근 우리는 사이버 공격이 비즈니스 세계에 미치는 영향을 봤습니다. JP 모건, 야...   12501
3     (음악)\n(노래) 오오 오오\n그녀는 부자가 되고 싶어요\n그녀는 유명해지고 싶죠...   12803
4     2014년 6월 13일 평소와 같은 금요일 라이베리아의 수도, 몬로비아의 구원 병원...   12302
...                                                 ...     ...
2560  (박수) 감사합니다. 저는 지금 기쁘기도 하면서 새로운 도전을 하고있는 기분이라고 ...      96
2561  안녕하세요. 정말 좋지 않습니까? 강연들이 너무 좋아 정신을 못 차리겠네요. 사실 ...      66
2562  감사합니다, 크리스. 이곳에 두 번이나 설 기회를 얻게된 것을 큰 영광으로 생각합니...       1
2563  ♫안녕 자동응답기, 나의 오랜 친구여 (웃음) 기술 지원이 필요해서 또 전화했어. ...       7
2564  여러분이 오늘 여기 계신다는 것은 -여러분이 여기 계셔서 참 행복해요- 환경친화적인...      53

[2565 rows x 2 columns]

In [341]:
_, _, concat_df_de = concatenate_df(content_df_de, talkid_df_de, "content", "talk_id")
concat_df_de # After 924, which is index 1475, Lassen Sie~ doesnt have talkid

df2for NAN False
df1for NAN False
                                                content
0     Ich wuchs auf als weißer Mann, säkular, in ein...
1     Treppen sind wahrscheinlich eine der emotional...
2     Es gibt keine schlechen Knöpfe, bloß schlechte...
3     Ich bin Wissenschaftlerin, und ein großer Star...
4     Wissen Sie, auf wen ich neidisch bin? Auf Leut...
...                                                 ...
2158  (Applaus) Vielen Dank. Ich muss Ihnen sagen, i...
2159  Guten Morgen. Wie geht es Ihnen?\n(Lachen)\nEs...
2160  Vielen Dank, Chris. Es ist mir wirklich eine E...
2161  ♪ Hallo Sprachbox, alter Freund ♪ (Lachen) ♪ I...
2162  Wenn Sie heute hier sind, und ich freue mich, ...

[2162 rows x 1 columns]      talk_id
0      12303
1      12352
2      12351
3       9930
4      10550
...      ...
2156      96
2157      66
2158       1
2159       7
2160      53

[2161 rows x 1 columns]
df1.duplicated           content
826   no contents
1055  no contents
content    False
talk_id     True
dtype: bool

                                                content talk_id
0     Ich wuchs auf als weißer Mann, säkular, in ein...   12303
1     Treppen sind wahrscheinlich eine der emotional...   12352
2     Es gibt keine schlechen Knöpfe, bloß schlechte...   12351
3     Ich bin Wissenschaftlerin, und ein großer Star...    9930
4     Wissen Sie, auf wen ich neidisch bin? Auf Leut...   10550
...                                                 ...     ...
2157  (Applaus) Vielen Dank. Ich muss Ihnen sagen, i...      66
2158  Guten Morgen. Wie geht es Ihnen?\n(Lachen)\nEs...       1
2159  Vielen Dank, Chris. Es ist mir wirklich eine E...       7
2160  ♪ Hallo Sprachbox, alter Freund ♪ (Lachen) ♪ I...      53
2161  Wenn Sie heute hier sind, und ich freue mich, ...     NaN

[2162 rows x 2 columns]

In [330]:
_, _, concat_df_fr = concatenate_df(content_df_fr, talkid_df_fr, "content", "talk_id")
concat_df_fr

df2for NAN False
df1for NAN False
                                                content
0     Je suis un immigrant venu de l'Ouganda vivant ...
1     [Provocation de Danny Hillis :]\n[Il est grand...
2     Mon voyage pour m'éloigner de l'extrémisme vio...
3     « Le mildiou tuera-t-il le châtaignier ? » Les...
4     Il est 4 heures du matin. Je me réveille dans ...
...                                                 ...
2593  (Applaudissements) Merci. Je dois vous dire qu...
2594  Bonjour. Comment allez-vous? C'était bien, n'e...
2595  Merci beaucoup, Chris. C'est vraiment un honne...
2596  Bonjour répondeur, mon vieil ami. (Rires) J'ap...
2597  Si vous êtes là aujourd'hui — et j'en suis trè...

[2598 rows x 1 columns]      talk_id
0      14392
1      12799
2       8298
3      13062
4       9982
...      ...
2592      96
2593      66
2594       1
2595       7
2596      53

[2597 rows x 1 columns]
content    False
talk_id     True
dtype: bool

                                                content talk_id
0     Je suis un immigrant venu de l'Ouganda vivant ...   14392
1     [Provocation de Danny Hillis :]\n[Il est grand...   12799
2     Mon voyage pour m'éloigner de l'extrémisme vio...    8298
3     « Le mildiou tuera-t-il le châtaignier ? » Les...   13062
4     Il est 4 heures du matin. Je me réveille dans ...    9982
...                                                 ...     ...
2593  (Applaudissements) Merci. Je dois vous dire qu...      66
2594  Bonjour. Comment allez-vous? C'était bien, n'e...       1
2595  Merci beaucoup, Chris. C'est vraiment un honne...       7
2596  Bonjour répondeur, mon vieil ami. (Rires) J'ap...      53
2597  Si vous êtes là aujourd'hui — et j'en suis trè...     NaN

[2598 rows x 2 columns]

In [331]:
_, _, concat_df_ar = concatenate_df(content_df_ar, talkid_df_ar, "content", "talk_id")
concat_df_ar

content    False
talk_id    False
dtype: bool

                                                content talk_id
0     هل حصل وذكرتَ دراسةً ما كمرجع لكلامك وأنت في ا...   12908
1     يقول الناس أنني شخصاً لطيفاً... إلى الحد حيثما...   12354
2     أنحدر من عائلة مكونة من خمسة إخوة، جميعهم علما...    3618
3     أتذكر أنني فكرت -لنفسي- ، "هذا سيغير كل شيء عن...   12353
4     أعتقد أن الدرج قد يكون واحدًا من العناصر الماد...   12352
...                                                 ...     ...
2540  (تصفيق) شكراً. علي أن أخبركم بأنني أشعر بالتحد...      96
2541  صباح الخير. كيف حالكم؟ كان يوما عظيما، أليس كذ...      66
2542  شكرا جزيلا كريس. انه فعلا شرف عظيم لي ان أصعد ...       1
2543  أهلا بك صديقي العزيز، البريد الصوتي♪ (ضحك) لقد...       7
2544  بما أنكم هنا اليوم، وأنا سعيدة جداً بذلك فقد س...      53

[2545 rows x 2 columns]

In [332]:
_, _, concat_df_zh_ch = concatenate_df(content_df_zh_cn, talkid_df_zh_cn, "content", "talk_id")
concat_df_zh_ch

NAN for df1
content    False
dtype: bool for df1
                                                content
0     我自认为既是一位艺术家， 又是一位设计师。 我在一个研究 人工智能的实验室工作。 我们正在尝...
1     我是一个编剧兼导演 写一些社会变革的故事， 因为我相信故事能够 打动并驱动我们。 故事使我们...
2     我记得曾经这样想过， “这将会颠覆我们交流的方式。”\n【小发明】 【大点子】\n【超链接:...
3     我认为台阶可能是 建筑家需要去解决的在情感上 最具可塑性的物理元素之一。\n[小事物，大想法...
4     没有不好的扣子，只有不好的人。 那听起来真么样？可以吗？\n“小物件” “大想法”\n“Is...
...                                                 ...
2424  （掌声） 谢谢。 我必须告诉你们我同时感到挑战与兴奋。 让我感到兴奋的是，我有一个付出回馈的...
2425  早上好，还好吗? 很好吧，对不对? 我已经飘飘然了! 我要飘走了。(笑声) 这次会议有三个主...
2426  非常谢谢，克里斯。的确非常荣幸 能有第二次站在这个台上的机会，我真是非常感激。 这个会议真是...
2427  语音信箱 我的老朋友♪ (笑声) 我又打了技术支持电话♪ 我没听老板的警告 在周一早上打的♪...
2428  假若你今天有幸来此—我对你的到来亦是甚喜－－ 你们一定听说过可持续发展可以拯救我们的生活 然...

[2429 rows x 1 columns]
content    False
talk_id    False
dtype: bool

                                                content talk_id
0     我自认为既是一位艺术家， 又是一位设计师。 我在一个研究 人工智能的实验室工作。 我们正在尝...   12498
1     我是一个编剧兼导演 写一些社会变革的故事， 因为我相信故事能够 打动并驱动我们。 故事使我们...   11997
2     我记得曾经这样想过， “这将会颠覆我们交流的方式。”\n【小发明】 【大点子】\n【超链接:...   12353
3     我认为台阶可能是 建筑家需要去解决的在情感上 最具可塑性的物理元素之一。\n[小事物，大想法...   12352
4     没有不好的扣子，只有不好的人。 那听起来真么样？可以吗？\n“小物件” “大想法”\n“Is...   12351
...                                                 ...     ...
2424  （掌声） 谢谢。 我必须告诉你们我同时感到挑战与兴奋。 让我感到兴奋的是，我有一个付出回馈的...      96
2425  早上好，还好吗? 很好吧，对不对? 我已经飘飘然了! 我要飘走了。(笑声) 这次会议有三个主...      66
2426  非常谢谢，克里斯。的确非常荣幸 能有第二次站在这个台上的机会，我真是非常感激。 这个会议真是...       1
2427  语音信箱 我的老朋友♪ (笑声) 我又打了技术支持电话♪ 我没听老板的警告 在周一早上打的♪...       7
2428  假若你今天有幸来此—我对你的到来亦是甚喜－－ 你们一定听说过可持续发展可以拯救我们的生活 然...      53

[2429 rows x 2 columns]

In [333]:
_, _, concat_df_en = concatenate_df(content_df_en, talkid_df_en, "content", "talk_id")
concat_df_en

NAN for df1
content    False
dtype: bool for df1
                                                content
0     I will never forget the first time I visited a...
1     Don't you love a good nap?\n(Laughter)\nJust s...
2     So, I'll be speaking to you using language ......
3     All right, let's get ready for the worst TED T...
4     [Ojibwe: Hello. My English name is Tara; my Na...
...                                                 ...
2678  Thank you. I have to tell you I'm both challen...
2679  Good morning. How are you?\n(Laughter)\nIt's b...
2680  Thank you so much, Chris. And it's truly a gre...
2681  (Music: "The Sound of Silence," Simon & Garfun...
2682  If you're here today — and I'm very happy that...

[2683 rows x 1 columns]
content    False
talk_id    False
dtype: bool

                                                content talk_id
0     I will never forget the first time I visited a...   14471
1     Don't you love a good nap?\n(Laughter)\nJust s...   13022
2     So, I'll be speaking to you using language ......   12727
3     All right, let's get ready for the worst TED T...   13778
4     [Ojibwe: Hello. My English name is Tara; my Na...   12800
...                                                 ...     ...
2678  Thank you. I have to tell you I'm both challen...      96
2679  Good morning. How are you?\n(Laughter)\nIt's b...      66
2680  Thank you so much, Chris. And it's truly a gre...       1
2681  (Music: "The Sound of Silence," Simon & Garfun...       7
2682  If you're here today — and I'm very happy that...      53

[2683 rows x 2 columns]

# Pandas Dataframe

In [7]:
from datasets import load_dataset
import pandas as pd
from bs4 import BeautifulSoup

In [162]:
df_ja = pd.read_xml('/home/sumire/thesis/LLM_Contextual_Prompt_MT/data/iwslt17/FILTERED_xml/ted_ja.xml', parser='lxml')

In [163]:
df_ja

        id  head                                            content
0        1   NaN  人と話をしている時に 言及した論文を 実際には読んでなかった ということはありませんか？\n...
1        2   NaN  胴枯病は栗の木を 絶えさせるのか 農夫らはそうは思わない 根でくすぶりながら 新たな芽を送り...
2        3   NaN  皆さんも多分 偉大な人物が いかにして偉業を成し遂げたのかと 考えたことがあると思います 成...
3        4   NaN  （ギター演奏）\n探し始めて\nもう何日にもなる\nどこに行ったの？\nどこに行ったんだろう...
4        5   NaN  文明の歴史は ある意味 地図の歴史です 私たちは まわりの世界を どのように理解してきたので...
...    ...   ...                                                ...
2485  2495   NaN  (拍手) 私は困難と興奮の 両方を感じています 興奮は この場で恩返し ができるからで 困難...
2486  2496   NaN  おはようございます。気分はいかがですか？素晴らしいですね、ここは すべてが驚嘆の連続です だ...
2487  2497   NaN  どうもありがとう クリス このステージに立てる機会を 2度もいただけるというのは実に光栄なこ...
2488  2498   NaN  (♪「サウンドオブサイレンス」の節で) やあボイスメール 懐かしき友よ (笑) またテクニカ...
2489  2499   NaN  ご来場の皆さん 本日はありがとうございます 皆さんなら 長期的視野に立った都市開発が 人類を...

[2490 rows x 3 columns]

In [59]:
df_ja["content"].duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2485    False
2486    False
2487    False
2488    False
2489    False
Name: content, Length: 2490, dtype: bool

In [101]:
df_ja[df_ja["content"].duplicated()]

        id  head                                            content
699    701   NaN  私はこの夏長い旅に出ており そこで素晴らしい経験をしました イザベル・ウィルカーソンの名著 ...
1494  1497   NaN                                               None
1532  1536   NaN                                               None
1594  1598   NaN                                               None
1623  1627   NaN                                               None
1686  1690   NaN                                               None
1731  1735   NaN                                               None
1767  1771   NaN                                               None
2169  2177   NaN                                               None
2350  2359   NaN                                               None

In [171]:
df_ja

        id  head                                            content
0        1   NaN  人と話をしている時に 言及した論文を 実際には読んでなかった ということはありませんか？\n...
1        2   NaN  胴枯病は栗の木を 絶えさせるのか 農夫らはそうは思わない 根でくすぶりながら 新たな芽を送り...
2        3   NaN  皆さんも多分 偉大な人物が いかにして偉業を成し遂げたのかと 考えたことがあると思います 成...
3        4   NaN  （ギター演奏）\n探し始めて\nもう何日にもなる\nどこに行ったの？\nどこに行ったんだろう...
4        5   NaN  文明の歴史は ある意味 地図の歴史です 私たちは まわりの世界を どのように理解してきたので...
...    ...   ...                                                ...
2485  2495   NaN  (拍手) 私は困難と興奮の 両方を感じています 興奮は この場で恩返し ができるからで 困難...
2486  2496   NaN  おはようございます。気分はいかがですか？素晴らしいですね、ここは すべてが驚嘆の連続です だ...
2487  2497   NaN  どうもありがとう クリス このステージに立てる機会を 2度もいただけるというのは実に光栄なこ...
2488  2498   NaN  (♪「サウンドオブサイレンス」の節で) やあボイスメール 懐かしき友よ (笑) またテクニカ...
2489  2499   NaN  ご来場の皆さん 本日はありがとうございます 皆さんなら 長期的視野に立った都市開発が 人類を...

[2490 rows x 3 columns]

In [180]:
#df_ja[df_ja["content"].duplicated() == False]

df_removed = df_ja[(df_ja["content"].duplicated() == False) | (df_ja["content"].isnull()==True)]
df_removed
#df_ja[(df_ja["content"] != np.NaN)]
#df_ja[df_ja["content"].duplicated()]
#df_ja[df_ja["content"].isnull()]
#df_ja = df_ja.drop(df_ja[df_ja[df1_col].duplicated()!="no contents"], axis=0)
#df_ja[df_ja["content"].isnull()==False]

        id  head                                            content
0        1   NaN  人と話をしている時に 言及した論文を 実際には読んでなかった ということはありませんか？\n...
1        2   NaN  胴枯病は栗の木を 絶えさせるのか 農夫らはそうは思わない 根でくすぶりながら 新たな芽を送り...
2        3   NaN  皆さんも多分 偉大な人物が いかにして偉業を成し遂げたのかと 考えたことがあると思います 成...
3        4   NaN  （ギター演奏）\n探し始めて\nもう何日にもなる\nどこに行ったの？\nどこに行ったんだろう...
4        5   NaN  文明の歴史は ある意味 地図の歴史です 私たちは まわりの世界を どのように理解してきたので...
...    ...   ...                                                ...
2485  2495   NaN  (拍手) 私は困難と興奮の 両方を感じています 興奮は この場で恩返し ができるからで 困難...
2486  2496   NaN  おはようございます。気分はいかがですか？素晴らしいですね、ここは すべてが驚嘆の連続です だ...
2487  2497   NaN  どうもありがとう クリス このステージに立てる機会を 2度もいただけるというのは実に光栄なこ...
2488  2498   NaN  (♪「サウンドオブサイレンス」の節で) やあボイスメール 懐かしき友よ (笑) またテクニカ...
2489  2499   NaN  ご来場の皆さん 本日はありがとうございます 皆さんなら 長期的視野に立った都市開発が 人類を...

[2489 rows x 3 columns]

In [29]:
df_ja[698:700]

      id  head                                            content
698  700   NaN  私はこの夏長い旅に出ており そこで素晴らしい経験をしました イザベル・ウィルカーソンの名著 ...
699  701   NaN  私はこの夏長い旅に出ており そこで素晴らしい経験をしました イザベル・ウィルカーソンの名著 ...

File id 700 does not have talk id, so delete file 700 and all the empty content

In [15]:
df_ja[902:905]

      id  head                                            content
902  904   NaN  今日 皆さんにお話したいのは 私たちのあり方を決める パワフルで 基礎的なもの― 「声」につ...
903  905   NaN                                               None
904  906   NaN  まず 皆さんがスーパーにいると 想像して下さい 食料品を買うと 選択肢が与えられます プラス...

In [16]:
df_ja = pd.read_xml('/home/sumire/thesis/LLM_Contextual_Prompt_MT/data/iwslt17/FILTERED_xml/ted_ja.xml', parser='lxml')
df_ja= pd.concat([talk_id_ja, df_ja], axis=1)
#df_ja["talk_id"][:-1] = df_ja["talk_id"][:-1].map(lambda x:int(x))
df_ja['talk_id'].isnull()
df_ja

     talk_id    id  head                                            content
0      12908     1   NaN  人と話をしている時に 言及した論文を 実際には読んでなかった ということはありませんか？\n...
1      13062     2   NaN  胴枯病は栗の木を 絶えさせるのか 農夫らはそうは思わない 根でくすぶりながら 新たな芽を送り...
2      11327     3   NaN  皆さんも多分 偉大な人物が いかにして偉業を成し遂げたのかと 考えたことがあると思います 成...
3      12459     4   NaN  （ギター演奏）\n探し始めて\nもう何日にもなる\nどこに行ったの？\nどこに行ったんだろう...
4      12346     5   NaN  文明の歴史は ある意味 地図の歴史です 私たちは まわりの世界を どのように理解してきたので...
...      ...   ...   ...                                                ...
2485      66  2495   NaN  (拍手) 私は困難と興奮の 両方を感じています 興奮は この場で恩返し ができるからで 困難...
2486       1  2496   NaN  おはようございます。気分はいかがですか？素晴らしいですね、ここは すべてが驚嘆の連続です だ...
2487       7  2497   NaN  どうもありがとう クリス このステージに立てる機会を 2度もいただけるというのは実に光栄なこ...
2488      53  2498   NaN  (♪「サウンドオブサイレンス」の節で) やあボイスメール 懐かしき友よ (笑) またテクニカ...
2489     NaN  2499   NaN  ご来場の皆さん 本日はありがとうございます 皆さんなら 長期的視野に立った都市開発が 人類を...

[2490 rows x 4 columns]

In [17]:
df_en = pd.read_xml('/home/sumire/thesis/LLM_Contextual_Prompt_MT/data/iwslt17/FILTERED_xml/ted_en.xml', parser='lxml')
df_en= pd.concat([talk_id_en, df_en], axis=1)
#df_en["talk_id"]= df_en["talk_id"].map(lambda x:int(x))
df_en[df_en["content"].isnull()]
df_en[df_en["id"].isnull()]

Empty DataFrame
Columns: [talk_id, id, head, content]
Index: []

In [25]:
df_en["content"][902:905]

902    I came here to show you the Fotokite. It's a t...
903    Let me tell you a story about a little girl na...
904    George and Charlotte Blonsky, who were a marri...
Name: content, dtype: object

In [92]:
df_ja["content"][2]

'皆さんも多分 偉大な人物が いかにして偉業を成し遂げたのかと 考えたことがあると思います 成果が際立っていればいるほど 私たちは その人を天才と呼んだり もしかすると他の惑星から来た 異星人に違いないなどと言い 自分とは まったく違う存在だと 思いがちです でも そうなのでしょうか？\n１つの例から始めましょう ニュートンのリンゴの話は 知っていますよね？ 本当なのでしょうか？ 多分違うでしょう それでも 「リンゴ」が何もなかったとは 考えにくいです つまり 何か足掛かりや 特定の状況があって 万有引力の着想が不可能ではない 状態にあったということです そして間違いなく ニュートンにとっては 不可能ではありませんでした 可能だったのです それも 何かの理由で ある時点において それはリンゴのように 容易に取れるものだったのです それこそがリンゴなのです\nアインシュタインはどうでしょう？ 相対性理論は アイデアの歴史における もうひとつの大きな飛躍であり 彼以外には 着想できない ものだったのでしょうか？ あるいはむしろ それは手の届くところにある 可能なものだったのか— もちろんアインシュタインにとっては ということですが— それは彼独自の科学の道における 小さなステップだったのか？ もちろん私たちには そのような道は見出せないでしょうが かと言って そんな道が 存在しないとは言い切れません\nこれは とても 示唆には富んでいますが まだ確かとは言い難いでしょう 素晴らしいアイデアがどこから来るのか あるいは 一般に 新しいものが いかにもたらされるのか 知りたいと思うのであれば 物理学者として 科学者として 私が学んだことは 解の半分は 適切な問いを 立てることにあるということですが 私たちは今や 適切な問いを 見付け 取り組むための 素晴らしい概念的な枠組みを 手にしつつあると思います そこで既知の領域の境界まで 皆さんをお連れして— まあ 私が知る 限りの境界ですが 既知の事柄が 強力で素晴らしい出発点となり 新規性や イノベーション 創造性といった言葉の 深い意味の把握に繋がることを 示しましょう\n「新しいもの」について議論しますが もちろん その背後の 科学にも触れます 新しいものが私たちの生活に 取り込まれる方法は色々あり それは ごく個人的なもの かもしれません 例えば 初対面の人と会うとか 新しい本を読むとか 新しい曲を聴くとか 一方で 世界的なものもあります イノベーションと呼ばれるもので 新理論や新技術かもしれず 作家なら 新しい本かもしれないし 作曲家なら 新しい曲かもしれません 世界的な場合には それは誰にとっても新しいものです 新しいものを体験するのは 怖いことでもあり得ます 新しいことが 私たちに 恐怖を感じさせるのです 新しいものを体験するというのは とても奇妙な空間を探索することです それは あり得たものの空間であり あり得るものの空間であり 可能性の空間です それはとても奇妙な空間ですが そこに皆さんをお連れします それは物理的な 空間かもしれません 例えば— マチュピチュに初めて 登るというような 私が2016年に 体験したことです また それは概念的な 空間かもしれません 新しい情報を手に入れ理解するというような— つまりは学習です また それは生物学的な 空間かもしれません 新たなウイルスやバクテリアと 免疫システムとの 終わりのない戦いを 考えて下さい\nここで残念なお知らせがあります 私たちはこの空間の把握が とんでもなく下手だということです そのことが分かるように １つ実験をしましょう これからの24時間に皆さんがし得ることを すべて思い浮かべて下さい ここでの重要なキーワードは 「すべて」です もちろん いくつかの候補は思いつくでしょう 一杯やるとか 手紙を書くとか この退屈な講演の間に 居眠りをするとか どうぞご自由に でもそれだけでは足りません ここミラノに 異星人が侵略してくるとか 私が15分間 沈黙するとか\nこのように 可能性の空間をイメージするのは とても難しいのですが 実は言い訳ができます 可能性の空間を イメージするのが難しいのは 何かまったく新しい出来事を 想像しようとするからです 今までに起きたことの ないことであり 手がかりがないのです よくある解決法は 過去によって培った目で 未来を見るということです 過去に起きた すべてのことを頼りにし それが将来の予知に 十分であることを祈ります これが上手く行かないことは 分かっています 例えば 最初の天気予報の試みは 失敗しました 失敗の理由は 天気の背後にある現象の 途方もない複雑さのためです 予測はモデルを元にしなければならないと 今では分かっています そのシステムについて モデルを作り そのモデルでシミュレーションを行い そのモデルで未来がどうなるか 予測するのです このような手法は 大量のデータによって成立しますが 様々な事例に使えます\n過去のデータに基づいて 未来を見ようとすると 機械でも誤った方向に 導かれることがあります ちょっと想像して下さい 少しの間 オーストラリアの荒野に いるところを思い描いてみましょう 陽の光の中に立っていると 不思議なことが起きます 自動車が急停止し そのずっと向こうで カンガルーが道を横切ります よく見ると 自動車には運転者がいません カンガルーがいなくなった後も 車は動こうとしません 何かの理由で その自動運転プログラムは 道路を飛び回る不思議な獣に 訳がわからなくなり 固まってしまったのです これは本当にあった話です 数ヵ月前に オーストラリアの 荒野のただ中で ボルボの自動運転車両に起きました\n(笑)\nこれは一般的な問題で 近い将来 人工知能や機械学習に ますます影響することでしょう 17世紀からある旧来からの 問題でもありますが 今はそれを解決する新しいツールや 新しい手がかりがあると思います\n少し時間を戻してみましょう ５年前— イタリアは ローマ 冬のことでした 2012年のローマの冬は 特別でした 歴史上例を見ない 積雪を経験しました その冬は私と同僚にとっても 特別でした 可能性のある数学的手法について ひらめきを得たからです 可能性がまた出て来ましたが 新しいものの出現を理解するための 数学的手法です 雪が降っていたこともあり その日のことは よく覚えています 降雪のため学内に足止めされ 家には帰れませんでした コーヒーのお代わりをして くつろぎ 議論を続けました とある時点で 正確にはその日でなかったかもしれませんが ある時点で この新しいものの問題と ステュワート・カウフマンが ずっと以前に提唱した 「隣接可能領域」という 見事な概念との間に 接点を見つけました 隣接可能領域は あらゆるものを包含していました アイデアであれ 分子であれ テクノロジー製品であれ それは既にあるものの 一歩先にあるものです 段階的な改良や 既存の物質の組み替えで 得られるようなものです\n例えば 私の友達に関する 空間を考えると 私の隣接可能領域は まだ友達ではない 友達の友達のことです これで分かると良いのですが もし 誰かと新たに知り合うと— 例えばブライアーさんと すると彼女のすべての友達が 私の隣接可能領域に加わり 領域が広がります この状況を数学的視点で 見たいなら— 見たいですよね？ この図を見て下さい これが 自分の世界だと 思ってください 無理は承知です これが 自分の世界で 赤い点が自分です 緑の点は 隣接可能領域にあり これまで まったく 触れたことのないものです 普段の生活をしていて この空間に入ってきます 酒を飲み 友達と会い 本を読み そしてある時点で 緑の点にたどり着き ブライアーさんと 初めて対面します すると何が起きるでしょう？ この空間の中の まったく新しい部分が その瞬間に 可能領域になります その点に達する以前には その領域について 想像したことすらなくとも そして その背後には いつか可能領域になるかもしれない さらに多くの点が存在します 可能領域が とても奇妙なのは 事前に定義されたものでは ないためです 事前に定義できる ようなものではなく それは私たちの 行動や選択によって 継続的に形作られて いくものなのです\n見付けたこの繋がりに 私たちはとても魅了されました 科学者はそういうものです これを基礎にして 隣接可能領域の数式化を 思い付きましたが それはカウフマンが概念を提案した 20年後のことでした 私たちの理論はー これは重要な点ですがー 二者の間の複雑な相互作用に 基づいています 可能領域が拡大し 再構築されていくことと その中で私たちが 探索していくことの間の 相互作用です\n2012年のひらめきの後 仕事に戻って この理論に取り組み 現実の世界で確かめるべき いくつかの予測を 思い付いきました もちろんイノベーションの 研究のためには 検証可能な枠組みが必要です 私たちがした予測をいくつか 紹介しましょう １つ目は イノベーションの 速度に関するものです 様々な異なるシステムにおいて 新しいものが観察される頻度です 私たちの理論では イノベーションの頻度は 普遍的な曲線に従うはずでした この様な感じの これは まったく異なる状況における 時間に対するイノベーションの頻度です イノベーションの頻度は 時間と共に下がると 私たちは予測しました 時と共にイノベーションは 難しくなっていくと 私たちは予想したのです\nこれはきれいで興味深く 私たちは満足でしたが 本当に正しいのでしょうか？ もちろん現実の世界で 確認すべきです\n現実の世界に戻り 何テラバイトという 膨大なデータを集め イノベーションの 追跡をしました WikipediaやTwitterの中や オープンソースソフトの開発状況 音楽の聴かれ方まで 調べました 私たちがどれぼと驚愕し喜び感動したか 言葉にできませんが 理論的に予測した通りのことが 様々な異なる現実の システムにおいても 見られたのです すごくワクワクしました 私たちの研究は 正しい方向に 進んでいることが明らかになり そこで止まる わけにはいかず 実際に止まることは ありませんでした 私たちは研究を進め ある時点で別の発見をしました 私たちが「相関する新規性」と 呼んでいるものです\nとてもシンプルです 皆さんも経験があるかもしれません レナード・コーエンの 「スザンヌ」を聴き それでコーエン熱に 火が付いて コーエンの曲は何でも 夢中になって聴くようになり そのうちに ファブリツィオ・デ・アンドレが イタリア語で「スザンヌ」を 録音していたことを 知るというような どういうものか １つのことが別のことに繋がるという 一般的な考えとして 隣接可能性の概念は 様々な異なるシステムに 見られます でも私たちがワクワクした理由は 私たちが初めて この考えに 科学的な実体を与え 私たちがする 新しいものの経験について 予測を始めたということです\nだから新規性は 相関しているのです 偶然に起きている訳では ありません これは良い知らせで それというのも 不可能と思われたミッションが そんなに不可能ではなくなる 可能性があるからで 自分の直感に従っていくなら 正の連鎖反応が 起きるのです\n隣接可能領域の存在の ３つめの帰結は 私たちが「新規性の波」と 名付けたものです 簡単に説明すると 音楽で 新規性の波がなかったら 私たちはモーツアルトやベートーベンを ずっと聴き続けていることでしょう それはそれで結構ですが 私たちはいつも そうしている訳ではありません ペット・ショップ・ボーイズや ジャスティン・ビーバーを 聴く人もいますよね\n(笑)\n私たちが収集し分析した 膨大なデータから これらのパターンを 非常に明確に見ることができました 例えば音楽におけるヒット曲は たえず新しく生まれては 消えますが 定番の曲の居場所もあります だから 新規性の波が 寄せては引きながら 潮流はいつも古典を 保持しています スタンダードと新しいヒット曲が 共存しているのです\n私たちの理論は 新規性の波を 見つけただけではありません それは当たり前なことです それだけでなく なぜそれがあるのかも説明します それがあるのには理由があり それは人々が 可能性の空間において それぞれ異なる戦略を 取るためです ある人々はいつも 既に知られている道を辿ります いわば利用者です ある人々は 常に新たな冒険に出ます 探求者です 私たちが発見したのは 調査したシステムのすべてが この２つの戦略の 中間にあるということで 80%の利用と 20%の探求というような イノベーションのブレードランナー みたいなものということです 賢明なバランス あるいは 保守的なバランスと 言った方が良いかもしれませんが 過去と未来のバランス 利用と探求のバランスが既に存在し それはシステムに 求められているものなのかもしれません ここで もうひとつ良い知らせは 今や私たちには科学的なツールがあることで この平衡状態を調べられ 将来には さらに 推し進められるでしょう\nご想像の通り 私はこれらのことに とても魅了されました 我々の数学的手法は 可能性の空間を調べ その中で創造し探求するための 手がかりやヒントを 既に与えてくれています それだけではありません これは出発点に なることでしょう 新しさを科学的に調査する 素晴らしい旅路のための そしてまた 新しいものに対する 個人的な調査のための そしてこれは 多くの結果をもたらし 様々な重要な活動に 影響を及ぼすでしょう— 学習、教育、研究、ビジネス たとえば 人工知能のことを考えれば 私は確信していますが 近い将来 我々は 再構築や変更のため 隣接可能領域の仕組みへの依存を ますます強め 未知の未来に対処していく ことになるでしょう 同時に 私たちには 多くの新しいツールがあり 創造性の働きや イノベーションのきっかけを 調べることができます これらすべての目的は 私たちが向き合う困難に対し 新しいアイデアを発想できる人材を 育てることで 言うまでもありません まだ道のりは長いと思いますが 問いと ツールがあり 隣接可能なのです\nありがとうございました\n(拍手)'

Question:
- Can we sort xml file by talk_id? or can we extract talk_id info in pandas too?

In [3]:
df = pd.read_csv("/home/sumire/thesis/LLM_Contextual_Prompt_MT/data/iwslt_hf/multilingual_talks_dict", index_col=0)

In [5]:
df.transpose()

,en,ar,fr,zh,ko,de,ja
talk_id 1553,['There are a lot of ways the people around us...,['هناك الكثير من الطرق التي يمكن بها للناس من ...,['Les gens autour de nous peuvent contribuer à...,"['我们周围的人能以很多种方式 来帮我们把生活变得更美好', '我们不一定能常常碰到我们的邻...",['우리 주변의 사람들이 우리의 인생을 향상시키기 위해 도울 수 있는 방법은 여러가...,"['Es gibt viele Möglichkeiten, wie unsere Mitm...","['まわりの人は様々な形で 人生を豊かなものに してくれるものですが', 'でも同じ場所に ..."
talk_id 1144,"['My name is Amit.', ""And 18 months ago, I had...","['اسمي هو أميت.', 'وقبل 18 شهرا، كنت أشغل وظيف...","[""Je m'appelle Amit."", ""Il y a 18 mois, je fai...","['我叫阿密特', '18月以前，我在谷歌有另外一个工作 我跟我的老板提出了这个点子 想要在...","['제 이름은 아미트입니다.', '18개월 전, 저는 구글에 입사했습니다. 그리고 ...","['Mein Name ist Amit.', 'Vor 18 Monaten machte...","['私はアミットと言います', '1年半前 Googleで 別な仕事をしていたときに 美術館..."
talk_id 1165,"['In 2007, I decided that we needed to reconc...",['في 2007 قررت اننا نحتاج لاعادة النظر في المف...,"[""En 2007, J'ai décidé que nous devions repens...","['2007年 我觉得我们需要重新定义 我们意识中的经济发展的概念。', '我们新目标应该致...","['2007년에 저는 경제 개발에 대해서 우리가 생각했던 방식을', '재개념화할 필...","['Im Jahr 2007 habe ich beschlossen, dass wir ...","['2007年 私は 経済成長について改めて概念化し直す 必要があると思い立ちました', '..."
talk_id 1898,"[""Hello, TEDWomen, what's up."", 'Not good enou...","['مرحبا TEDWomen كيف حالكم؟', 'هذا ليس كافيا.'...","['Bonjour, TEDWomen, ça va ?', ""C'est pas enco...","['各位女同胞们，大家好！ 你们还好吗？', '（欢呼声） 再大声点', '各位女同胞们，大...","['안녕하세요, TEDWomen 참석자 여러분! 안녕하세요!', '충분하지 않군요....","['Hallo TEDWomen, was geht?', 'Das reicht nich...","['こんにちは TEDWomenの皆さん！', '声が小さいですね', 'こんにちは TED..."
talk_id 1520,['with this photo of a bullet piercing through...,"['ألهمنا ""دوك ادغرتون"" بالرهبة والفضول بهذه ال...","[""Doc Edgerton nous a impressionnés et intrigu...",['爱哲顿博士用这张子弹击穿苹果的照片 激起了我们的敬佩和好奇， 这张照片的曝光时间只有一百...,['닥 에저톤 선생께서 총알이 사과를 뚫고 지나가는 이 사진으로 경외감과 호기심으로...,['Doc Edgerton hat uns mit Ehrfurcht und Neugi...,"['エジャートン博士の リンゴを撃ちぬく弾丸の写真は 100万分の1秒を捉えたもので', '..."
...,...,...,...,...,...,...,...
talk_id 1699,"['This is where I live. I live in Kenya, at t...","['هنا حيث أعيش.أعيش في كينيا, في الجهة الجنوبي...","[""C'est là que je vis. Je vis au Kenya, au sud...","['这是我所生活的地方，肯尼亚， 在内罗毕国家公园的南部', '在我的身后是我父亲的奶牛 在...","['이곳이 제가 사는 곳, 케냐 나이로비 국립공원의 남쪽입니다.', '저 뒤에 있는...",['Hier lebe ich. Ich lebe in Kenia am südliche...,"['僕は ここで暮らしてます ケニアの― ナイロビ国立公園の南部に住んでいます', '後ろに..."
talk_id 69,"['You know, one of the intense pleasures of tr...",['هل تعرفون أن أحد المتع الكبيرة للسفر وأحد مب...,"[""Vous savez, un des plaisirs intenses du voya...",['对我来说 在世界各地旅行 和从事人类学研究的生涯中 最大的乐趣之一莫过于 体验那些没有忘...,['여행의 가장 큰 즐거움 중 하나이자 민속지학적 연구의 기쁨 중 하나는 구식 방법...,"['Wissen Sie, eines der großen Vernügen beim R...",['旅の大きな楽しみの１つであり また民族誌学の調査をする喜びの１つは 昔ながらの暮らしを忘...
talk_id 1548,"['the Oxford English Dictionary is ""snollygost...",['واحدة من كلماتي المفضلة في قاموس أوكسفورد ال...,['Un des mots que je préfère dans le dictionna...,"['我很喜欢的词之一 在整个牛津英语词典里叫“snollygoster”。', '不仅因为它...","['옥스포드 영어 사전에서 제가 가장 좋아하는 단어는 ""악덕 정객""이라는 단어입니다...",['Eines meiner Lieblingswörter im gesamten Oxf...,"['オックスフォード英語辞典で', 'お気入りの単語は “snollygoster” です'..."
talk_id 1829,"[""So I'm going to talk about trust, and I'm g...",['إذن سأتحدّث اليوم عن الثّقة، و سأبدأ بتذكيرك...,"[""Je vais maintenant parler de confiance, et j...","['我今天要讲的是信任。 一开始，我要先向你们交代一下， 人们对信任的基本观点。', '我觉...","['자, 이제부터 신뢰에 대해서 말씀드리겠습니다. 먼저 신뢰에 대한 여러분들의 견해...",['Ich möchte über Vertrauen reden und ich möch...,['信頼についてお話しするわけですが まずは 信頼について 一般的に思われていることから 始...
talk_id 1160,"['This is a representation of your brain, and...",['هذه الصورة تمثل الدماغ ان الدماغ مقسوم الى ق...,['Ceci est une représentation de votre cerveau...,"['这是大脑的描绘图。 你的大脑可以被分为两个部分。', '左脑，主要负责理性方面， 而右脑...","['이것은 여러분의 뇌를 표현한 그림입니다 뇌는 두 부분으로 나눌 수 있죠', '왼...",['Dies ist eine Darstellung Ihres Gehirns. Ihr...,"['これは脳を表しています 脳は二つの部分に分けられます', '左半分は論理を司り 右半分は..."